@if (characteristic(); as characteristic) {
  <article class="docs-article" id="section-1">
    <header class="docs-header">
      <h1>
        {{ characteristic.displayName }}
      </h1>
      <p>UUID: {{ characteristic.UUID }}</p>
    </header>

    <section>
      <h3>Properties</h3>
      <table class="table table-striped mt-3">
        <tbody>
          <tr>
            <th scope="row" width="25%">Name</th>
            <td>Characteristic.{{ characteristic.name }}</td>
          </tr>
          <tr>
            <th scope="row">Format</th>
            <td>{{ characteristic.props.format }}</td>
          </tr>
          @if (characteristic.props.unit) {
            <tr>
              <th scope="row">Unit</th>
              <td>{{ characteristic.props.unit }}</td>
            </tr>
          }
          @if (characteristic.props.minValue !== null) {
            <tr>
              <th scope="row">Min Value</th>
              <td>{{ characteristic.props.minValue }}</td>
            </tr>
          }
          @if (characteristic.props.maxValue !== null) {
            <tr>
              <th scope="row">Max Value</th>
              <td>{{ characteristic.props.maxValue }}</td>
            </tr>
          }
          @if (characteristic.props.minStep !== null) {
            <tr>
              <th scope="row">Min Step</th>
              <td>{{ characteristic.props.minStep }}</td>
            </tr>
          }
          @if (characteristic.props.perms) {
            <tr>
              <th scope="row">Permissions</th>
              <td>{{ characteristicPermissions() }}</td>
            </tr>
          }
          @if (characteristic.props.perms) {
            <tr>
              <th scope="row">Supported Events</th>
              <td>{{ characteristicEvents() }}</td>
            </tr>
          }
        </tbody>
      </table>
    </section>

    @if (characteristic.constValues.length) {
      <section>
        <h3>Constants</h3>
        <table class="table table-striped mt-3">
          <tbody>
            @for (prop of characteristic.constValues; track prop) {
              <tr>
                <th scope="row" width="25%">{{ prop.key }}</th>
                <td>Characteristic.{{ characteristic.name }}.{{ prop.key }}</td>
                <td>{{ prop.value }}</td>
              </tr>
            }
          </tbody>
        </table>
      </section>
    }

    @if (usedBy().length) {
      <section>
        <h3>Services</h3>
        <p>
          <em
            >These services use the {{ characteristic.displayName }} as either optional or required characteristics:</em
          >
        </p>
        <ul>
          @for (service of usedBy(); track service) {
            <li>
              <a [routerLink]="['/service', service.name]">{{ service.displayName }}</a>
            </li>
          }
        </ul>
      </section>
    }
  </article>
}
