<article class="docs-article" id="section-1">
  <header class="docs-header">
    <h1>
      {{ characteristic?.displayName }}
    </h1>
    <p>
      UUID: {{ characteristic.UUID }}
    </p>
  </header>

  <section>
    <h3>Properties</h3>
    <table class="table table-striped mt-3">
      <tbody>
        <tr>
          <th scope="row" width="25%">Name</th>
          <td>Characteristic.{{ characteristic.name }}</td>
        </tr>
        <tr>
          <th scope="row">Format</th>
          <td>{{ characteristic.props.format }}</td>
        </tr>
        <tr *ngIf="characteristic.props.unit">
          <th scope="row">Unit</th>
          <td>{{ characteristic.props.unit }}</td>
        </tr>
        <tr *ngIf="characteristic.props.minValue !== null">
          <th scope="row">Min Value</th>
          <td>{{ characteristic.props.minValue }}</td>
        </tr>
        <tr *ngIf="characteristic.props.maxValue !== null">
          <th scope="row">Max Value</th>
          <td>{{ characteristic.props.maxValue }}</td>
        </tr>
        <tr *ngIf="characteristic.props.minStep !== null">
          <th scope="row">Min Step</th>
          <td>{{ characteristic.props.minStep }}</td>
        </tr>
        <tr *ngIf="characteristic.props.minStep !== null">
          <th scope="row">Min Step</th>
          <td>{{ characteristic.props.minStep }}</td>
        </tr>
        <tr *ngIf="characteristic.props.perms">
          <th scope="row">Permissions</th>
          <td>{{ characteristicPermissions }}</td>
        </tr>
        <tr *ngIf="characteristic.props.perms">
          <th scope="row">Supported Events</th>
          <td>{{ characteristicEvents }}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section *ngIf="characteristic.constValues.length">
    <h3>Constants</h3>
    <table class="table table-striped mt-3">
      <tbody>
        <tr *ngFor="let prop of characteristic.constValues">
          <th scope="row" width="25%">{{ prop.key }}</th>
          <td>Characteristic.{{ characteristic.name }}.{{ prop.key }}</td>
          <td>{{ prop.value }}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section *ngIf="usedBy.length">
    <h3>Services</h3>

    <p>
      <em>These services use the {{ characteristic.displayName }} as either optional or required characteristics:</em>
    </p>

    <ul>
      <li *ngFor="let service of usedBy">
        <a [routerLink]="['/service', service.name]">{{ service.displayName }}</a>
      </li>
    </ul>
  </section>

</article>