<div
  id="docs-sidebar"
  class="docs-sidebar"
  [class.sidebar-visible]="sidebarService.visible"
  [class.sidebar-hidden]="!sidebarService.visible"
>
  <div class="top-search-box d-lg-none p-3">
    <form class="search-form">
      <app-search class="w-100" />
      <i class="fas fa-magnifying-glass search-icon"></i>
    </form>
  </div>
  <nav id="docs-nav" class="docs-nav navbar">
    <ul class="section-items list-unstyled nav flex-column pb-3">
      <li class="nav-item section-title">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/']" [routerLinkActiveOptions]="{ exact: true }">
          <span class="theme-icon-holder me-2"><i class="fas fa-signs-post"></i></span>Introduction
        </a>
      </li>

      <li class="nav-item section-title mt-3">
        <a class="nav-link" [routerLink]="['/api']" [class.active]="isSectionActive('/api/reference', '/api/log')">
          <span class="theme-icon-holder me-2"><i class="fas fa-gear"></i></span>API Reference
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link pointer" routerLinkActive="active" [routerLink]="['/api/reference']">Common</a>
      </li>

      <li class="nav-item">
        <a class="nav-link pointer" routerLinkActive="active" [routerLink]="['/api/log']">Log</a>
      </li>

      <li class="nav-item section-title mt-3">
        <a
          class="nav-link"
          [routerLink]="['/api/platform-plugins']"
          [class.active]="
            isSectionActive(
              '/api/platform-plugins',
              '/api/accessory-plugins',
              '/api/service',
              '/api/characteristics',
              '/categories'
            )
          "
        >
          <span class="theme-icon-holder me-2"><i class="fas fa-hap"></i></span>HAP (Apple Home)
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link pointer" routerLinkActive="active" [routerLink]="['/api/platform-plugins']"
          >Platform Plugins</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link pointer" routerLinkActive="active" [routerLink]="['/api/accessory-plugins']"
          >Accessory Plugins</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link pointer" routerLinkActive="active" [routerLink]="['/api/service']">Service</a>
      </li>

      <li class="nav-item">
        <a class="nav-link pointer" routerLinkActive="active" [routerLink]="['/api/characteristics']"
          >Characteristics</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link pointer" routerLinkActive="active" [routerLink]="['/categories']">Categories</a>
      </li>

      <li class="nav-item section-title mt-3">
        <a
          class="nav-link"
          [routerLink]="['/api/matter']"
          [class.active]="isSectionActive('/api/matter', '/api/matter-clusters')"
        >
          <span class="theme-icon-holder me-2"><i class="fas fa-matter"></i></span>Matter
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link pointer" routerLinkActive="active" [routerLink]="['/api/matter']">Overview</a>
      </li>

      <li class="nav-item">
        <a class="nav-link pointer" routerLinkActive="active" [routerLink]="['/api/matter-clusters']">Clusters</a>
      </li>

      <li class="nav-item section-title mt-3">
        <a
          class="nav-link"
          [routerLink]="['/config-schema']"
          [class.active]="isSectionActive('/config-schema', '/custom-plugin-ui')"
        >
          <span class="theme-icon-holder me-2"><i class="fas fa-code"></i></span>Plugin Config Schema
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link pointer" routerLinkActive="active" [routerLink]="['/custom-plugin-ui']"
          >Custom User Interfaces</a
        >
      </li>

      <li class="nav-item section-title mt-3">
        <a
          class="nav-link"
          [routerLink]="['/service', hapService.services[0].name]"
          [class.active]="isSectionActive('/service')"
        >
          <span class="theme-icon-holder me-2"><i class="fas fa-hap"></i></span>Service Types
        </a>
      </li>

      @for (service of hapService.services; track service) {
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/service', service.name]">{{
            service.displayName
          }}</a>
        </li>
      }

      <li class="nav-item section-title mt-3">
        <a
          class="nav-link"
          [routerLink]="['/matter-device-type', matterService.deviceTypes[0].name]"
          [class.active]="isSectionActive('/matter-device-type')"
        >
          <span class="theme-icon-holder me-2"><i class="fas fa-matter"></i></span>Device Types
        </a>
      </li>

      @for (deviceType of matterService.deviceTypes; track deviceType) {
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/matter-device-type', deviceType.name]">{{
            deviceType.name
          }}</a>
        </li>
      }
    </ul>
  </nav>
</div>
