<div id="docs-sidebar" class="docs-sidebar">
  <div class="top-search-box d-lg-none p-3">
    <form class="search-form">
      <app-search class="w-100"></app-search>
      <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
    </form>
  </div>
  <nav id="docs-nav" class="docs-nav navbar">
    <ul class="section-items list-unstyled nav flex-column pb-3">
      <li class="nav-item section-title">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <span class="theme-icon-holder mr-2"><i class="fas fa-map-signs" ></i></span>Introduction
        </a>
      </li>

      <li class="nav-item section-title mt-3">
        <a class="nav-link" [routerLink]="['/reference']" routerLinkActive="active">
          <span class="theme-icon-holder mr-2"><i class="fas fa-cog"></i></span>API Reference
        </a>
      </li>

      <li class="nav-item section-title mt-3">
        <a class="nav-link" [routerLink]="['/service']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
          <span class="theme-icon-holder mr-2"><i class="fas fa-lightbulb"></i></span>Service Types
        </a>
      </li>

      <li class="nav-item" *ngFor="let service of hapService.services">
        <a class="nav-link pointer" [routerLink]="['/service', service.name]" routerLinkActive="active">{{ service.displayName }}</a>
      </li>
    </ul>
  </nav>
</div>
